@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<section>
    <div class="m-3 text-justify">
        <h1>@ViewData["Title"]</h1>
        <h4>MegaDesk</h4>
        <p>MegaDesk is a fictitious, small company that makes custom desks to order within a given parameter and constraint set. Everyone at MegaDesk takes orders, builds quotes, provides direct customer service and, of course, builds desks. Orders are currently done entirely on paper via phone and shop visits, however each MegaDesk employee uses different techniques of acquisition and storage. The desk quotes use a formula that does not change very often and is not held privately. Accepted quotes are hand written on a simple manufacturing form.</p>
        <h4>Version 3.0</h4>
        <h5>Features</h5>
        <ul>
            <li>View all Quotes.</li>
            <li>Add new Quotes.</li>
            <li>Edit existing Quotes.</li>
            <li>Delete Quotes with confirmation.</li>
            <li>Sort the Quotes by Date or Customer name.</li>
            <li>Search Quotes by Customer name.</li>
            <li>Responsive in all views.</li>
        </ul>
    </div>
</section>