@page
@model MegaDeskWebASP.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeskModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Desk.Name" class="control-label"></label>
                <input asp-for="Desk.Name" class="form-control" />
                <span asp-validation-for="Desk.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Width" class="control-label"></label>
                <input asp-for="Desk.Width" class="form-control" />
                <span asp-validation-for="Desk.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Depth" class="control-label"></label>
                <input asp-for="Desk.Depth" class="form-control" />
                <span asp-validation-for="Desk.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Drawers" class="control-label"></label>
                <input asp-for="Desk.Drawers" class="form-control" />
                <span asp-validation-for="Desk.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Material" class="control-label"></label>
                <select asp-for="Desk.Material" class="form-control">
                    <option value="Oak">Oak</option>
                    <option value="Laminate">Laminate</option>
                    <option value="Veneer">Veneer</option>
                    <option value="Pine">Pine</option>
                    <option value="Rosewood">Rosewood</option>
                </select>

                <span id="image1"><img src="https://i.pinimg.com/originals/98/48/4e/98484e1e458f3e9ccf8389d70419c4bb.jpg" /></span>
                <span id="image2"><img src="https://i.pinimg.com/474x/aa/21/88/aa2188d8a482928b3621f4abd7fa6063.jpg" /></span>
                <span id="image3"><img src="https://www.arroway-textures.ch/sites/default/files/styles/square_teaser/public/thumb_wood-003v2.jpg" /></span>
                <span id="image4"><img src="https://www.hackmath.net/img/70/dre-borovica.jpg" /></span>
                <span id="image5"><img src="https://thesimsresource.com/scaled/491/491314.jpg" /></span>


                <span asp-validation-for="Desk.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Rush" class="control-label"></label>
                <select asp-for="Desk.Rush" class="form-control">
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="14">14</option>
                </select>
                <span asp-validation-for="Desk.Rush" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
